@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root {
  --prim-color: #b3111a;
  --prim-light: #f16c6e;
  --white-color: #feffff;
  --black-color: #000;

  --Unbounded: "Unbounded", sans-serif;
  --EB_Garamond: "EB Garamond", serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

html, body {
  @apply bg-[var(--white-color)] text-[var(--black-color)];
  margin: 0;
  padding: 0;
}


* {
  scroll-behavior: smooth;
}

.Unbounded {
  font-family: var(--Unbounded) !important;
}

.EB_Garamond {
  font-family: var(--EB_Garamond) !important;
}


